<a href="/books">Books Index</a>

<h1>All Libraries</h1>
<h3><a href="/libraries/new">New Library</a></h3>

<% @libraries.each do |library| %>
  <p><strong><%= library.name %></strong></p>
  <p><%= library.created_at %></p>
  <%= link_to "Update Library", "/libraries/#{library.id}/edit" %><br>
  <br><%= link_to "Delete Library", "/libraries/#{library.id}", method: :delete %>
<% end %>
