<h1>All Libraries</h1>
<a href="/libraries/new">New Library</a>

<% @libraries.each do |library| %>
  <p><strong><%= library.name %></strong></p>
  <p><%= library.created_at %></p>
  <a><%= link_to "Update Library", "/libraries/#{library.id}/edit" %></a>
<% end %>
