<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update Book:</p>
  <label for="name">Book Title</label><br>
  <input id='book_title' type='text' name='book[title]' value="<%= @book.title %>"/><br><br>
  <label for="name">Checked Out?</label><br>
  <input id='a_checkbox' type='checkbox' name='book[checked_out]' /><br><br>
  <label for="name">Number of Pages</label><br>
  <input id='pages' type='text' name='book[pages]' value="<%= @book.pages %>"/><br><br>
  <input id='Submit' type='submit' />
</form>
