<h1>All Books</h1>
<a href="/books/new">New Book</a>

<% @books.each do |book| %>
  <h3><%= book.title %></h3>
  <h4>Checked Out?</h4>
  <p><%= book.checked_out %></p>
  <h4>Number of Pages:</h4>
  <p><%= book.pages %></p>
<% end %>
