<a href="/locations">Locations</a>
<br>
<h1>All Bookstores</h1>

<% @bookstores.each do |bookstore| %>
  <a href="/bookstores/<%= bookstore.id %>"><h3><%= bookstore.name %></h3></a>
  <h4>Books in stock:</h4>
  <p><%= bookstore.inventory %></p>
  <h4>Open?</h4>
  <p><%= bookstore.open %></p>
<% end %>
