<h1>All Locations</h1>

<a href="/locations/new">New Location</a>
<% @locations.each do |location| %>
  <h4><a href="/locations/<%= location.id %>"><%= location.name %></a></h4>
  <p><%= location.created_at %></p>
<% end %>
