<h1>All Locations</h1>

<a href="/locations/new">New Location</a>
<% @locations.each do |location| %>
  <h3><a href="/locations/<%= location.id %>"><%= location.name %></a></h3>
  <p><%= location.created_at %>  <a href="locations/<%= location.id %>/edit">Edit Info</a></p>
<% end %>
