<form action="/locations" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new location:</p>
  <label for="name">Location Name</label><br>
  <input type='text' name='location[name]'/><br/>
  <label for="name">Location Population</label><br>
  <input type='number' name='location[population]'/><br/>
  <label for="name">Urban?</label><br>
  <input type='checkbox' name='location[urban]'/><br/>
  <input type='submit'/>
</form>
